@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	 margin: 0; 
	 padding: 0; 
	 border: 0; 
	 outline: 0; 
	 font-size: 100%; 
	 vertical-align: baseline; 
	 background: transparent; 
	 }
	 
body {
	background-color:#000;
}
#container {
	margin-left:auto;
	margin-right:auto;
	width:800px;

}

#header {
	margin-left:auto;
	margin-right:auto;

}
#logo {
	height:185px;
	width:542px;
	text-align:center;
	margin-left:90px;
	margin-bottom:50px;

}
#logo2 {
	height:185px;
	width:542px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:50px;

}

#content {
	height:600px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	

}

#bottle {
	width:280px;
	height:450px;
	background-image:url(images/bottle.jpg);
	background-repeat:no-repeat;
	float:left;
	position:relative;
	

}

#graph {
	float:left;
	margin-top:110px;

}

#data {
	height:250px;
	width:73px;
	position:relative;
	margin-left:100px;

}

#data_percent{
    width: 100%;
	background-color:#0CC;
	position:absolute;
  	bottom:-160px;
}


#video {
	height:300px;
	width:500px;
	background-color:#33F;
	margin-left:auto;
	margin-right:auto;
}
